#contact-info { /* Target the div with id="contact-info" */
    background-color: #e0f7fa; /* Light cyan */
    border: 1px solid #00bcd4; /* Teal border */
    padding: 15px;
    margin-top: 30px;
    width: 300px; /* Fixed width */
    margin-left: auto; /* Centers the div if it has a width */
    margin-right: auto;
}

body {
    background-color: #044A46;
}

h1{
    color:#FFFFFF;
    text-align:center;
}

.navbar {
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #044A46;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #74c365;
}

h2{
    color:#74c365;
    text-align:center;
}